<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Account Information</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">
    <link href="../static/css/home.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

</head>

<body>
  <style>
  body{
    font-family: 'Open Sans', serif;
  }

  tr{
    transition : all 0.1s linear;
  }

  td:hover{
    background: rgba(242, 96, 92, 0.2) !important;
  }

  tbody> tr:hover{ 
    background: rgba(242, 96, 92, 0.2) !important;
  }

  </style>
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" class="nav-brand-name">
                    Treasury
                </a>
            </li>
            <li>
                <a href="#menu-toggle" class="toggle-button" id="menu-toggle">Toggle Menu</a>
            </li>
            <li>
                <a href="/">Dashboard</a>
            </li>

        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
          <table class="table table-hover" style="border: solid #F25F5C 1px">
            <thead style="background: #F25F5C; font-size: 1.4em; border: none; color: #FFF; margin: 0;">
              <tr style="background:black; color:white">
                <th >Name</th>
                <th>Current Risk</th>
                <th >Long Term Risk </th>
              </tr>
            </thead>
            <tbody>
              {% for item in entries %}
                {% if item.val %}
                <tr style="background: #E5524F">
                  <td>{{item.name}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.shortTermProfit}}%</td>
                </tr>
                {% else %}
                <tr style="background: #70C1B3">
                  <td>{{item.name}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.shortTermProfit}}%</td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
</body>
</html> 